__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.spec

.env
.venv/
env/
venv/
ENV/
.venv.bak/

.ipynb_checkpoints

.vscode/
.idea/
*.swp

*.log

.DS_Store
Thumbs.db
